@import './partials/box'
@import './partials/measure'
@import './partials/contenteditable'

.layout-wraper
  .layout-content
    min-height: 100vh
    .trigger
      font-size: 18px
      line-height: 64px
      padding: 0px 24px
      cursor: pointer
      transition: color .3s
      &:hover
        color: #108ee9
    &-header
      background: #fff
      padding: 0
      &-tools
        float: right
        height: 100%
        &-action
          cursor: pointer
          padding: 0 12px
          display: inline-block
          transition: all .3s
          height: 100%
          &:hover
            background: #e6f7ff
          > i 
            font-size: 16px
            vertical-align: middle
    &-footer
      text-align: center
    & > .content-wraper
      margin: 16px 16px 0px
      overflow: initial
      & > .content-box
        margin-top: 16px
        padding: 0px
  .layout-sider
    &-logo
      padding: 16px
      // border-bottom: 1px dotted #666
      img
        height: 28px
        width: auto
