$margin-button-default: 4px;
$table-row-height-md: 100px;

.text
  &-align
    &--center
      text-align: center
    &--left
      text-align: left
    &--right
      text-align: right
.button
  &-margin
    &--top
      &--default
        margin-top: $margin-button-default
    &--right
      &--default
        margin-right: $margin-button-default
    &--bottom
      &--default
        margin-bottom: $margin-button-default
    &--left
      &--default
        margin-left: $margin-button-default
