<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adnode Front</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="app"></div>
    <%= stylesheet_link_tag "#{FrontComponentDist.where(name: @app_css_antd).limit(1).pluck(:file_url).join('')}" %>
    <%= stylesheet_link_tag "#{FrontComponentDist.where(name: @app_css).limit(1).pluck(:file_url).join('')}" %>
    <%= javascript_include_tag "#{FrontComponentDist.where(name: @app_js).limit(1).pluck(:file_url).join('')}" %>
  </body>
</html>
